.contact-form.wrapper-form
	= render "layouts/frontend/messages"
	= simple_form_for @message, :url => "/admin/messages", wrapper: :bootstrap, :method => :post do |f|
		.row
			.col-lg-6
				= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control col-lg-6", placeholder: "Nombre (Required)", required: "required"}
			.col-lg-6
				= f.input :email, as: :email, label: false, input_html: {class: "form-control col-lg-6", placeholder: "Email (Required)", required: "required"}
			.col-lg-12
				= f.input :subject, label: false, input_html: {class: "form-control", placeholder: "Phone (Required)"}
			.col-lg-12
				= f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje... (Required)"}
			.col-lg-6	
				= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
			.col-lg-6
				.form-actions
					= f.button :submit, "Send", class: "btn bg-blue pull-right", style: "width: 70%;"

		