.nested-fields
	.row
		.col-lg-12
			.row
				.col-lg-3
					= f.input :symphony_id, :collection => @symphonies, :label_method => :title, :value_method => :id, :label => "Select the symphony" ,:include_blank => false, input_html: { class: "form-control", onchange: "get_symphony_#{f.object_id}();", id: "symphony_#{f.object_id}" }, include_blank: "Select symphony", hint: "Choose the symphony that you want to customize"
				.col-lg-3
					= f.input :kid_name, input_html: {class: "form-control", "data-autocomplete" => "/autocomplete_kid_name" }, as: :string, label: "Name of the kid (Required)", hint: "Let's verify if that name exists"
				.col-lg-3
					= f.input :disc_name, input_html: {class: "form-control"}, label: "Name of the albums (Required)", hint: "Add custom name to the album cover"
				.col-lg-3
					= f.input :disc_message, input_html: {class: "form-control"}, label: "Message of the albums (Required)", hint: "Add custom message to the album cover"
			= link_to_remove_association "Remove this symphony", f, class: "btn bg-primary color-white"
			.pull-right
				%label Price:
				%i.fa.fa-dollar
				= "#{number_with_precision 19.99, precision: 2, separator: '.', delimiter: ','}"
	%hr
