.modal.fade.modal-symphonies{"aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg
		.modal-content
			%ul.nav.nav-pills.nav-justified
				- @symphonies.each_with_index do |symphony, index|
					%li{:role => "presentation", class: "#{'active' if index.eql?(0)}"}
						%a{:href => "#symphony-#{index}", "aria-controls"=>"symphony-#{index}", role: "tab", "data-toggle"=>"tab"}= symphony.title

			.tab-content
				- @symphonies.each_with_index do |symphony, index|
					.tab-pane{:role => "tabpanel", id: "symphony-#{index}", class: "#{'active' if index.eql?(0)}"}
						= render partial: "frontend/symphony", locals: { symphony: symphony }
			.modal-footer
				%button{ type: "button", class: "btn btn-default", "data-dismiss" => "modal" }
					Continue to order

- if action_name.eql?("new_order")
	:javascript
		$('.modal-symphonies').modal('show')
