.banner{style: "background:none;"}
	.container-text
		%h2= symphony.title
		= raw symphony.description
		.row.kid-name-test
			.col-lg-6
				= form_tag hear_path, remote: true do |f|
					.input-group
						%input.form-control{name: "kid_name", :placeholder => "Insert the name you want to hear the symphony", :type => "text", "data-autocomplete" => "/autocomplete_kid_name" }
						%input.form-control{name: "symphony_id", :placeholder => "Insert the name you want to hear the symphony", :type => "hidden", value: symphony.id}
						%span.input-group-btn
							= submit_tag "Hear", class: "btn btn-primary"
					%span.verify{ id: "verify-#{symphony.id}" }
			.col-lg-6
				%audio{ controls: "", src: symphony.song, id: "song_#{symphony.id}" }
		.container-data
			%bold= "#{symphony.age} Age"
			%bold.pull-right
				%i.fa.fa-dollar
				%span= "#{number_with_precision symphony.price, precision: 2, separator: '.', delimiter: ','} / Unit"
