.wrapper#about
	.container
		.row
			.col-lg-6
				.wrapper-img
					= image_tag "frontend/our-mision.jpg", class: "hidden-xs"
					= image_tag "frontend/our-mision-phone.jpg", class: "visible-xs"
			.col-lg-6
				.banner.bg-blue
					.container-textura
					.container-text
						%h2 ABOUT
						.wrapper-p
							Welcome to CASITAKIDS we are a leading and innovative company in the commercialization and distribution of musical contents personalized for boys and girls of ages from 0 to 7 years. Emphasizing that in every song the name of his child will be the protagonist.
						.wrapper-p
							PRODUCTS: The CD comes printed with the name of the child accompanied of a dedication, Turning it into the special, original and only gift, also it includes a song-book and the alphabet in very enterteining transfers.

						%hr
						
						%h2 QUIÉNES SOMOS
						.wrapper-p
							Bienvenidos a CASITAKIDS somos una empresa líder e innovadora en la comercialización y distribución de contenidos musicales personalizados para niños  y niñas de edades comprendidas de 0 a 7 años

						.wrapper-p
							Los  CD viene impresos con el nombre del niño acompañado de una dedicatoria, Convirtiéndolo en  un regalo especial, original y único. Son canciones que los niños han de atesorar en sus recuerdos  por toda vida. 
