.wrapper#contact
	.container
		.row
			.col-lg-6
				.wrapper-img
					= image_tag "frontend/carousel/cartel-1.jpg", class: "hidden-xs"
					= image_tag "frontend/carousel/cartel-1-phone.jpg", class: "visible-xs"
			.col-lg-6
				.banner.bg-primary
					.container-textura
					.container-text
						%h2 Contact
						= render "keppler_contact_us/messages/form"
						%span
							Note: Su Información no será compartida. Your Information will not be shared.
						%ul
							%li
								%label casitakids@hotmail.com

							%li
								= link_to "Facebook", "https://www.facebook.com/casitakids/", target: "_blank"
							//%li
							= #link_to "Twitter", "https://twitter.com/casitakids", target: "_blank"
							//%li
							= #link_to "Instagram", "https://instagram.com/casitakids7/", target: "_blank"
