- unless @kid.nil?
	$("#song_#{@symphony.id}").attr("src", "https://s3.amazonaws.com/latortuga/reels/S#{@symphony.id}/#{@kid.mp3(@symphony.id)}")
	$("#verify-#{@symphony.id}").html("Name exists! :)");
	$("#verify-#{@symphony.id}").removeClass("verify-false")
	$("#verify-#{@symphony.id}").addClass("verify-true")
- else
	$("#song_#{@symphony.id}").attr("src", "")
	$("#verify-#{@symphony.id}").html("Name no exists :(");
	$("#verify-#{@symphony.id}").removeClass("verify-true")
	$("#verify-#{@symphony.id}").addClass("verify-false")