#home
	#carousel.carousel.slide.carousel-fade{"data-ride" => "carousel"}
		.carousel-inner
			.item.active
				= image_tag "frontend/carousel/cartel-3.jpg"
			.item
				= image_tag "frontend/carousel/cartel-1.jpg", class: "hidden-xs"
				= image_tag "frontend/carousel/cartel-1-phone.jpg", class: "visible-xs"
			.item
				= image_tag "frontend/carousel/cartel-2.jpg", class: "hidden-xs"
				= image_tag "frontend/carousel/cartel-2-phone.jpg", class: "visible-xs"
	.banner{ style: "background: #e76c63"}
		.container-textura
		.container-text
			.text Welcome to CASITAKIDS we are a leading and innovative company in the commercialization and distribution of musical contents personalized for boys and girls of ages from 0 to 7 years
	.symphonies#symphonies
		.container
			.row
				- @symphonies.each do |symphony|
					.col-lg-4
						.symphony
							.symphony-head
								= link_to new_order_frontend_path(symphony.id) do
									.symphony-mask{ class: "bg-#{symphony.color}"}
										%i.fa.fa-music
										%h1 PLAY DEMO
								.symphony-cover
									= image_tag symphony.cover
								.symphony-title
									= symphony.title
							.symphony-btn{ id: "btn-#{symphony.color}" }
								.texture
								.symphony-audio{ id: "control-#{symphony.id}"}
									%audio{ src: symphony.song, id: "audio-#{symphony.id}" }
									%i.fa.fa-play{ id: "play-#{symphony.id}"}
								.symphony-age.hidden-xs{ class: "color-#{symphony.color}" }
									%p.numbers= symphony.age
									%p.text Age
								.symphony-price
									%i.fa.fa-money
									%span= number_with_precision "#{symphony.price}", precision: 2, separator: '.', delimiter: ','

						:javascript
							var audio = new Audio("#{symphony.song}");
							$("#control-#{symphony.id}").click(function() {
							  if ($("#audio-#{symphony.id}")[0].paused == false) {
							      $("#audio-#{symphony.id}")[0].pause();
							      $("#play-#{symphony.id}").removeClass('fa-pause').addClass('fa-play');

							  } else {
							    $("#audio-#{symphony.id}")[0].play();
							    $("#play-#{symphony.id}").removeClass('fa-play').addClass('fa-pause');
							  }
							});
			%center
				=  link_to "Go to store", store_path, class: "go-to-store"
