.wrapper#order
	.container
		.tab-content
			.tab-pane{:role => "tabpanel", id: "symphony-#{@symphony.id}", class: "active"}
				.row
					.col-lg-4
						= image_tag @symphony.cover
					.col-lg-8
						= render partial: "frontend/symphony", locals: { symphony: @symphony }
		.modal-footer
			=  link_to "Buy", @symphony.store_url, class: "go-to-store"
