.wrapper#our-mision
	.container
		.row
			.col-lg-6
				.wrapper-img
					= image_tag "frontend/about.jpg", class: "hidden-xs"
					= image_tag "frontend/about-phone.jpg", class: "visible-xs"
			.col-lg-6
				.banner.bg-green
					.container-textura
					.container-text
						%h2 OUR MISSION
						.wrapper-p
							%label Mission:
							Children’s personalized songs in which the name of the child is part of the music score, which contributes to his/her cognitive and psycho-emotional development, strengthening  his/her self-esteem and identity. Each song contains educational themes which strengthen the emotional attachments between parents, offspring, and the natural environment.


						.wrapper-p
							%label Vision:
							To be the leading company in the commercialization and distribution of children’s personalized songs in which the name of the child is part of the music score making him/her the main character in a great adventure of musical fun. 

						.wrapper-p
							Values:
							%ul{style: "margin-top: 10px;"}
								%li The Music
								%li Amusement
								%li Happiness.
								%li Harmony.
								%li Family

						%hr

						%h2 NUESTRA MISIÓN
						.wrapper-p
							Misión: Canciones infantiles personalizadas en las que el nombre del niño forma parte de la letra, Lo cual contribuye a su desarrollo cognoscitivo y psicoemocional, fortaleciendo así su estima e identidad. Cada canción contiene temáticas educativas que fortalecen los vínculo afectivos entre padres e hijos y el medio ambiente.

						.wrapper-p
							Visión: Ser la empresa líder en la comercialización y distribución de Canciones infantiles personalizadas en las que el nombre del niño forma parte de la letra convirtiéndose en protagonista de una gran aventura y diversión musical.

						.wrapper-p
							Valores:
							%ul{style: "margin-top: 10px;"}
								%li Música
								%li Diversión
								%li Alegría.
								%li Emprendimiento.
								%li Familia
