%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    - if can? :index, User
      %li
        = tab "Usuarios", "person", main_app.users_path, current_navigation?("Users")
    - if can? :index, Symphony
      %li
        = tab "Sinfonías", "library_music", main_app.symphonies_path, current_navigation?("Symphony")
    - if can? :index, Order
      %li
        = tab "Ordenes", "shopping_cart", main_app.orders_path, current_navigation?("Orders")

