.contact-form{
  .row{
    display: block !important;
    input{
    	margin-bottom: 10px;
    }
    .text{
    	width: 100% !important;
    	display: block !important;
    	font-size: 1.1em !important;
    	text-align: left !important;
    	margin-bottom: 10px !important;
        color: #555555 !important;
    }

    .btn:hover{
    	color: white;
    }
  }
}