@import "../core/main";

#home {
	.carousel-fade {
		.carousel-inner {
			.item {
				height: 100%;
				transition-property: opacity;

				img {
					width: 70%;
					@media #{$phone} {
						width: 100%;
						height: 40vh;
					}
				}
			}

			.item:nth-of-type(1) {
				#image-1 {
					width: 50%;
				}

				#image-2 {}
			}

			.active.left,
			.active.right,
			.item {
				opacity: 0;
			}

			.active,
			.next.left,
			.prev.right {
				opacity: 1;
			}

			.active.left,
			.active.right,
			.next,
			.prev {
				left: 0;
				transform: translate3d(0, 0, 0);
			}
		}

		.carousel-control {
			z-index: 2;
		}
	}
}

.go-to-store {
	background: #7363a8;
	color: white;
	padding: 1rem 3rem;
	margin-bottom: 5rem;
	font-size: 3rem;
}

.go-to-store:hover {
	background: #9b89d8;
	color: white;
	text-decoration: none;
	outline: 0;
}
