@import "../core/main";

html, body {
 height: 100%;
 position: relative;
}

body {
	font-family: $CaviarDreamsBold;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}


#nprogress {
  .spinner{
    z-index: 999999;
    top: 15px;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-top-color: #29d;
    border-left-color: #29d;

    width: 40px;
    height: 40px;

    @include phone_all {
      display: none;
    }

  }
}

.color-primary{
  color: $primary-color !important;
}

.color-blue{
  color: $blue-color !important;
}

.color-green{
  color: $green-color !important;
}

.color-white{
  color: white !important;
}

.bg-primary{
  background: $primary-color !important;
}

.bg-blue{
  background: $blue-color !important;
}

.bg-green{
  background: $green-color !important;
}


.banner{
  width: 100%;
  height: 380px;
  background: rgb(255, 111, 111);
  position: relative;

  .container-textura{
    width: 100%;
    height: 380px;
    background: image-url("frontend/textura.png") no-repeat;
    opacity: 0.1;
    background-size: cover;
  }

  .container-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

    ul{
      font-family: $OpenSans;
      font-weight: 400;
      a{
        color: white;
        font-weight: 600;
      }
    }

    .text{
      width: 70%;
      margin: auto;
      height: 100%;
      color: white;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      @include display-flexbox;
      @include align-items(center);
      @include justify-content(center);
      @include flex-direction(column);

      @media #{$phone} {
        width: 100%;
        font-size: 1.5em;
       h1{
        font-size: 1.3em;
       }
      }
    }

    #socials{
      list-style-type: none;
      padding: 0px;
      li{
        display: inline;
        a{
          text-decoration: none;
          color: white;
          #item-social{
            color: #7363a8;
          }
          @include transition(.3s);
        }
        a:hover{
          color: $primary-color;
          @include transition(.3s);
        }
      }
    }
  }
}

.wrapper{
  padding: 100px;
  @media #{$phone} {
    padding: 15px;

    .container{
      padding: 0px;
    }
  }
  @media #{$phone-landscape } {
    padding: 15px;

    .container{
      padding: 0px;
    }
  }
  
  .row{
    @include display-flexbox;
    @include align-items(center);
    @include justify-content(center);
    @media #{$phone} {
      display: block;
    }
  }

  .banner{
    border-radius: 2px;
    height: auto;
    min-height: 380px;
    @media #{$phone} {
     margin-top: 20px;
     margin-bottom: 40px;
    }
  }

  .container-textura{
    position: absolute;
    height: 100%;
  }

  .container-text{
    position: relative;
    padding: 30px;
    color: white;
    @media #{$phone} {
      h2{
        font-size: 1.3em;
      }
    }
    .wrapper-p{
      margin-top: 20px !important;
      font-family: $OpenSans;
      width: 100%;
      text-align: justify;
      font-weight: 400;
      margin: 0px;
      font-size: 1.1em;
    }
  }
  ul{
    margin-top: 30px;
    @media #{$phone} {
      padding: 20px;
    }
    label{
      font-size: 1.4em;
      @media #{$phone} {
        font-size: 1.1em;
      }
    }
    small{
       @media #{$phone} {
        font-size: .8em;
      }
    }
    a{
      color: $violet-color;
      font-size: 1.4em;
    }
  }
}

.band-slice{
  font-weight: bold;
  background: $blue-color;
  position: relative;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  @media #{$phone} {
    padding: 20px;
  }

  img{
    display: inline;
    width: 50px;
  }
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100000000000000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item{
    margin-top: 5px;
    margin-left: 10px;
    left: 10px;
    cursor: pointer;
    @include transition(.5s);
  }

  .ui-menu-item:hover{
    color: $blue-color;
    @include transition(.5s);
  }

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.modal-symphonies{
  .modal-dialog{
    .modal-content{
      border-radius: 0px;
      .nav{
        margin-top: 0px;
        li{
          a{ 
            border-radius: 0px;
            padding: 20px 0px;
            font-size: 1em !important;
          }
        }
        li.active{
          a{
            background: $blue-color !important;
          }
        }
      }
    }
  }
}