@import "../core/main";

#front-navbar{ 
	margin-bottom: 0px;
	padding: 20px;
	font-weight: bold;
	font-size: 14px;
	background-color: white;;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;

	.navbar-nav {
		width: 100%;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@media #{$phone}{
			display: block;
		}
		li{
			margin: 0px 25px;
		}

		li:hover{
			img {
				-webkit-animation: shake 1s;
			  -moz-animation: shake 1s;
			  -o-animation: shake 1s;
			  -ms-animation:shake 1s;
			  animation: shake 1s;
			}
		}
		a{
			color: $primary-color;
			font-family: $CaviarDreamsBold;
			font-size: 1.3em;
		}
		#casitakids-logo{
			width: 200px;
		}
	}
}