@import "../core/main";

#order{
	padding-top: 0px;
	 @media #{$phone} {
      margin-bottom: 30px;
    }
	.wrapper-img{
		img{
			width: 400px !important;
		}
	}
	.row{
		display: block;
	}
	.banner{
		height: auto;
		margin-bottom: 0px;
		border-radius: 0px;
		.container-textura{
			height: 100%;
			position: absolute;
		}
		.container-text{
			height: 100%;
			position: relative;
	    padding: 30px;
	    color: #585858;
	    p{
	      margin-top: 20px !important;
	      font-family: $OpenSans;
	      width: 100%;
	      text-align: justify;
	      font-weight: 400;
	      margin: 0px;
	      font-size: 1.1em;
	    }
	    ul, ol{
	    	margin-top: 15px;
	    }

		  .verify{
		   	margin-top: 5px;
		   	position: relative;
		   	top: 3px;
		  }
		  .verify-false{
				color: red;
			}

			.verify-true{
				color: green;
			}
	  }

	  .container-data{
	  	padding: 15px;
	  	border-radius: 2px;
	  }

	  .kid-name-test{
	  	margin-top: 20px;
	  	margin-bottom: 20px;
	  	audio{
	  		margin-top: 3px;
	  		width: 100%;
	  	}
	  }
	}

	.wrapper-form{
		padding: 0px 15px;
		.control-group{
			margin-bottom: 20px;
		}

		.help-inline{
			color: red;
		}

		.form-actions{
			margin-top: 20px;
			.btn-casitakids{
				background: white;
				float: right;
				font-size: 2em;
				border: 3px solid $blue-color;
				color: $blue-color;
				padding-left: 37px !important;
				padding-right: 37px !important;
				@include transition(.5s);
			}

			.btn-casitakids:hover{
				color: white;
				background: $blue-color;
				@include transition(.5s);
			}
		}
  }
}

#new_order{
	font-family: $OpenSans;;
}
