@import "../core/main";

#symphonies {
	padding-top: 5rem;
	padding-bottom: 5rem;

	.container {
		width: 100%;
		@media #{$phone} {
			width: 100%;
			padding: 0;

			.row {
				margin: 0;
			}
		}
	}

	.symphony {
		margin: 100px 0;

		&-cover {
			img {
				width: 90%;
			}
		}

		&-title {
			margin-top: 10px;
			margin-bottom: 20px;
			color: #424242;
			font-family: $CaviarDreamsBold;
			font-size: 1.1em;
			text-align: center;
		}

		&-head {
			width: 80%;
			height: 100%;
			margin: auto;
			position: relative;
			overflow: hidden;

			a {
				.symphony-mask {
					width: 100%;
					height: 100%;
					position: absolute;
					opacity: 1;
					color: white;
					font-size: 3em;
					bottom: -400px;
					@include display-flexbox;
					@include align-items(center);
					@include justify-content(center);
					@include flex-direction(column);
					@include transition(.3s);
				}
			}
		}

		&-head:hover {
			a {
				.symphony-mask {
					bottom: 0;
					@include transition(.3s);
				}
			}
		}

		&-btn {
			width: 80%;
			margin: auto;
			height: 80px;
			position: relative;
			overflow: hidden;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);

			.texture {
				width: 100%;
				height: 80px;
				position: absolute;
				background: image-url("frontend/textura.png") repeat;
				opacity: 0.1;
				left: 0;
			}

			.symphony-audio {
				border: 2px solid white;
				color: white;
				font-size: 1.3em;
				padding: 10px 15px;
				position: absolute;
				left: 20px;
				top: 16px;
				cursor: pointer;
			}

			.symphony-age {
				background: white;
				font-weight: bold;
				height: 48px;
				width: 48px;
				border-radius: 50%;
				z-index: 10;
				position: relative;
				left: -60px !important;
				@media #{$phone} {
					left: -25px;
				}

				p {
					text-align: center;
					margin: 0;
				}

				.numbers {
					position: absolute;
					font-family: $CaviarDreamsBold;
					font-size: 1.3em;
					left: 8px;
					top: 7px;
				}

				.text {
					position: absolute;
					font-size: 0.8em;
					left: 13px;
					bottom: 5px;
				}
			}

			.symphony-price {
				font-weight: $CaviarDreamsBold;
				color: white;
				position: absolute;
				font-size: 1.3em;
				top: 26px;
				right: 20px;

				i {
					font-size: 1.8em;
				}

				span {
					position: relative;
					top: -5px;
				}
			}
		}

		#btn-primary {
			background: $primary-color;

			.texture {
				background-position: 200px -50px;
			}
		}

		#btn-green {
			background: $green-color;

			.texture {
				background-position: 200px -600px;
			}
		}

		#btn-blue {
			background: $blue-color;

			.texture {
				background-position: 20px 90px;
			}
		}
	}
}
