.listing-show-header
	%h5
		= material_icon.md_24.shopping_cart.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripción del módulo
		%p{align: "justify"} En este módulo se podrán visualizar todas las ordenes recibidas, tendrá permisos para ver cada orden de forma detallada, y será libre de eliminarlas.
