.wrapper
	.wrapper-body.container
		.actions
			= link_to orders_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @order do |f|
					.row
						= f.input :kid_id
						= f.input :symphony_id
						= f.input :disc_name
						= f.input :disc_message, input_html: {class: "materialize-textarea"}
						= f.input :refence, input_html: {class: "materialize-textarea"}
						= f.input :quantity

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
