.listing-show-header
	.actions
		- if can? :update, Order
			= link_to edit_order_path(@order), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.shopping_cart.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label Orden N°
			.display-value= @order.id
		%hr
		%h6 Información del producto
		%hr
		- @order.articles.each do |article|
			.product
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.kid_id")
					.display-value= article.kid.name
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.symphony_id")
					.display-value= article.symphony.title
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.disc_name")
					.display-value= article.disc_name
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.disc_message")
					.display-value= article.disc_message
			%hr
		%h6 Información de Contacto
		%hr
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @order.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @order.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.phone")
			.display-value= @order.phone
		- unless @order.refence.blank?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.refence")
				.display-value= @order.refence
		
	

:javascript
	$('.tooltipped').tooltip({delay: 1});
