%tr{ id: "row-#{order.id}" }
	- if can? :destroy_multiple, Order
		%td.item-check{style:"width: 10%"}
			= link_to "", order_path(order), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{order.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{order.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{order.id}" }
		%td{style:"width: 5%"}
			= link_to "", order_path(order, search: @query), remote: true, class: "show-row"
			%span
				= order.id
		%td{style:"width: 25%"}
			= link_to "", order_path(order, search: @query), remote: true, class: "show-row"
			%span
				= order.name
		%td{style:"width: 25%"}
			= link_to "", order_path(order, search: @query), remote: true, class: "show-row"
			%span
				= order.email
		%td{style:"width: 15%"}
			= link_to "", order_path(order, search: @query), remote: true, class: "show-row"
			%span
				= order.phone
		%td{style:"width: 30%"}
			= link_to "", order_path(order, search: @query), remote: true, class: "show-row"
			%span
				= order.created_at.strftime("%d-%m-%Y")
								
	%td{style:"width: 5%"}		
		= link_to order_path(order), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")