= title "Ordenes | #{@order.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Order
				= link_to order_path(@order), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: '¿Estas seguro de querer eliminar?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Order
				= link_to edit_order_path(@order), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to orders_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card
			%ul.list
				%h6 Información del producto
				%hr
				- @order.articles.each do |article|
					.product
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.kid_id")
							.display-value= article.kid.name
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.symphony_id")
							.display-value= article.symphony.title
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.disc_name")
							.display-value= article.disc_name
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.disc_message")
							.display-value= article.disc_message
					%hr
				%h6 Información de Contacto
				%hr
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value= @order.name
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.email")
					.display-value= @order.email
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.phone")
					.display-value= @order.phone
