.banner{ style: "background: #7363a8"}
	.container-textura
	.container-text
		.text
			%h1 GET IN TOUCH WITH US
			%ul#socials
				%li
					= link_to "mailto:information@casitakids.com" do
						.fa.fa-stack.fa-lg
							%i.fa.fa-circle.fa-stack-2x
							%i.fa.fa-envelope.fa-stack-1x#item-social
				%li
					= #link_to "https://instagram.com/casitakids7/", target: "_blank" do
					//.fa.fa-stack.fa-lg
					//	%i.fa.fa-circle.fa-stack-2x
					//	%i.fa.fa-instagram.fa-stack-1x#item-social
				%li
					= link_to "https://www.facebook.com/casitakids/", target: "_blank" do
						.fa.fa-stack.fa-lg
							%i.fa.fa-circle.fa-stack-2x
							%i.fa.fa-facebook.fa-stack-1x#item-social
.band-slice
	.brand
		Logos and brands are property of CASITAKIDS©2015
	.design.hidden-xs
		Diseñado por
		= link_to "http://www.behance.net/marisellap", target: "_blank" do
			Marisella Pacheco
	.dev
		Desarrollado por
		= link_to "http://slicegroup.xyz", target: "_blank" do
			= image_tag "frontend/slice.png"

	


