%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Casita Kids. Personalized Children Music And More.'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Welcome to CASITAKIDS we are a leading and innovative company in the commercialization and distribution of musical contents personalized for children and girls of ages from 0 to 7 years. Emphasizing that in every song the name of his child will be the protagonist'}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/favicon.png"
	= csrf_meta_tags