-# Rails flash messages styled for Bootstrap 3.0
- flash.each do |name, msg|
	- if msg.is_a?(String)
		- if name.to_s == 'notice'
			:javascript
				swal("Good job!", "#{msg}", "success")
		- if name.to_s == 'alert' and (action_name.eql?("create_order") or action_name.eql?("contact_us"))
			:javascript
				swal("Error", "#{msg}", "error");
				$( document ).ready(function() {
					(function(){ window.scrollTo(0, document.getElementById("new_order").offsetTop); })();
				});

