%li{ class: "visible-xs visible-sm" }
	= link_to 'Home'.html_safe, root_path
%li
	= link_to about_path, style: "padding: 0px;", class: "hidden-xs hidden-sm" do
		= image_tag "frontend/icono-violin.png", width: "80px;"
	= link_to 'About'.html_safe, about_path
%li
	= link_to mision_path, style: "padding: 0px;", class: "hidden-xs hidden-sm" do
		= image_tag "frontend/icono-trompeta.png", width: "80px;"
	= link_to 'Our Mission'.html_safe, mision_path
%li
	= link_to root_path, class: "hidden-xs hidden-sm" do
		= image_tag "frontend/casitakids-logo.png", id: "casitakids-logo"
%li
	= link_to is_index? ? "#symphonies" : root_path(anchor: "symphonies"), style: "padding: 0px;", class: "hidden-xs hidden-sm" do
		= image_tag "frontend/icono-guitarra.png", width: "80px;"
	= link_to 'Our Products'.html_safe, is_index? ? "#symphonies" : root_path(anchor: "symphonies")
%li
	= link_to contact_path, style: "padding: 0px;", class: "hidden-xs hidden-sm" do
		= image_tag "frontend/icono-microfono.png", width: "55px;"
	= link_to 'Contact Us'.html_safe, contact_path
