!!!
%html
	= render 'layouts/frontend/head' 
	%body
		%header
			= render 'layouts/frontend/navigation'
		%main{:role => "main"}
			= render 'layouts/frontend/messages'
			= yield
		%footer
			= render 'layouts/frontend/footer'
			
			