.listing-show-header
	%h5
		= material_icon.md_24.library_music.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripción del módulo
		%p{align: "justify"} En este módulo se podran ver de forma detallada cada sinonía precargada y de la misma forma solo se podrán modificar los datos de las sinfonías ya existente.
