.wrapper
	.wrapper-body.container
		.actions
			= link_to symphonies_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @symphony do |f|
					.row
						= f.input :cover, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :title, label: "Título"
						= f.input :price, label: "Precio"
						%label{ style: "margin-left: 11px; font-size: 14px; position:relative; top: 12px;"} Descripción
						= f.input :description, label: false, as: :ckeditor, input_html: { :ckeditor => { :toolbar => 'mini'} }
						= f.input :song, label: "Canción", :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :store_url, label: "Url del producto en la tienda online"
						= f.input :public, as: :checkbox_material, label: "¿Desea publicar esta sinfonía?"
						= f.input :age, as: :hidden, input_html: { value: "0-7" }


						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"

- if @symphony.cover.file
	:javascript
		$('.file-path').first().val("#{@symphony.cover.file.filename}")

- if @symphony.song.file
	:javascript
		$('.file-path').last().val("#{@symphony.song.file.filename}")
