.listing-show-header
	.actions
		- if can? :update, Symphony
			= link_to edit_symphony_path(@symphony), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", 'data-no-turbolink' => true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.library_music.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-image
		= image_tag @symphony.cover
		%audio{ controls: "" }
			%source{ src: @symphony.song }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @symphony.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.price")
			.display-value= number_with_precision "#{@symphony.price}", precision: 2, separator: '.', delimiter: ','
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.title")
			.display-value= @symphony.title
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= sanitize(@symphony.description, tags: []).truncate(300)
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.age")
			.display-value= @symphony.age
	

:javascript
	$('.tooltipped').tooltip({delay: 1});
