%tr{ id: "row-#{symphony.id}" }
	- if can? :destroy_multiple, Symphony
		%td.item-check{style:"width: 10%"}
			= link_to "", symphony_path(symphony), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{symphony.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{symphony.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{symphony.id}" }

	%td{style:"width: 10%"}
		= link_to "", symphony_path(symphony, search: @query), remote: true, class: "show-row"
		%span
			= symphony.id
	%td{style:"width: 70%"}
		= link_to "", symphony_path(symphony, search: @query), remote: true, class: "show-row"
		%span
			= symphony.title
	%td{style:"width: 20%"}
		= link_to "", symphony_path(symphony, search: @query), remote: true, class: "show-row"
		%span
			= number_with_precision "#{symphony.price}", precision: 2, separator: '.', delimiter: ','
								
	%td{style:"width: 5%"}		
		= link_to symphony_path(symphony), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")