= title "Symphonies | #{@symphony.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Symphony
				= link_to symphony_path(@symphony), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Symphony
				= link_to edit_symphony_path(@symphony), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", 'data-no-turbolink' => true do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to symphonies_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card
			.img-card
				= image_tag @symphony.cover, width: "300px;"
				%audio{ controls: "" }
					%source{ src: @symphony.song }
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.id")
					.display-value.fs-body-1.tc-black-2= @symphony.id
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.price")
					.display-value.fs-body-1.tc-black-2= number_with_precision "#{@symphony.price}", precision: 2, separator: '.', delimiter: ','
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.title")
					.display-value.fs-body-1.tc-black-2= @symphony.title
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= raw @symphony.description
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.age")
					.display-value.fs-body-1.tc-black-2= @symphony.age
