!!!
%html
	%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h3= "#{@order.name.humanize} Your order has been received"
		%p
			Thank you for making the order, soon we will contact you to finalize the order.
		%p
			For more information about our products enter
			= link_to "casitakids.com", "http://casitakids.com"