!!!
%html
	%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h3= "You have received an order from #{@order.email}"
		= link_to "Click the link to view the order.", "http://casitakids.com"+order_path(@order.id)