//Responsive design
/*$desktop-large: "(min-width:1200px)";
$desktop: "(min-width:992px)";
$tablet: "only screen and (min-device-width: 768px) and (max-device-width: 1024px)";
$tablet-protrait: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)";
$tablet-landscape: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)";
$phone: "only screen and (min-device-width: 320px) and (max-device-width: 736px)";
$phone-portrait: "only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait)";
$phone-landscape: "only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape)";
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@font-face {
  font-family: 'CaviarDreams';
  src: font-url('CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreamsBold';
  src: font-url('CaviarDreams_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'No-move';
  src: font-url('No-move.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$desktop-large: "(min-width:1200px)";
$desktop: "(min-width:992px) and (max-width:1199px)";
$tablet: "(min-width: 768px) and (max-width:991px)";
$tablet-landscape: "(min-width:768px) and (orientation : portrait)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";
$min-phone: "(max-width: 320px) and (orientation : portrait)";
//fuentes
$raleway: 'Raleway', sans-serif;

//colores
$primary-color: #e76c63;
$red-color: #e44d58;
$blue-color: #82aac7;
$green-color: #82c7b2;
$violet-color: #7363a8;
$bg-primary: #fff;
$bg-secondary: #f5f5f5;

//fonts
$CaviarDreamsBold: 'CaviarDreamsBold', sans-serif;
$CaviarDreams: 'CaviarDreams', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
